<%= render "shared/breadcrumbs" %>
<p id="notice"><%= notice %></p>
<div class=" w-75 d-flex image-section">
  <div class="col-md-8"><%= image_tag("article_image.jpg") %></div>
  <div class="col-md-4 vcenter-item">
    <div class="image-text-wrapper shadow-lg tab-user-info ">
      <div class="p-3 d-flex flex-column text-left">
        <span class="image-text__date py-1">Published / 20.01.2022 <%=

        %></span>
        <span class="image-text__title py-1">London Games return in 2022<%=
          # @article.alt
        %></span>
        <span class="image-text__caption">Register to receive the latest news on ticket sales for the four NFL London Games in 2022!<%=
          # @article.title
        %></span>

      </div>
      <div>
        <button type="button" class="btn btn-danger btn-danger-not-rounded">More</button>
      </div>
    </div>
  </div>
</div>
<div class="col-md-9 py-3">
  <%#= @article.content.html_safe%>
  <% @articles.each do |article| %>
    <div class="card flex-md-row shadow h-md-250 border-0 my-3">
      <% if article.image.attached? %>
        <%= image_tag(article.image, { style: "min-width: 280px; max-width: 280px; height: 180px;", class: "card-img-right flex-auto d-none d-md-block p-2" }) %>
      <% else %>
        <%= image_tag("article_image.jpg", { style: "width: 280px; height: 180px;", class: "card-img-right flex-auto d-none d-md-block p-2" }) %>
      <% end %>
      <div class="card-body d-flex flex-column align-items-start">
        <h3 class="mb-0"><%= link_to article.title, article, class: "d-inline-block mb-2 clickable-block" %></h3>
        <p class="card-text mb-auto"><%= article.caption %></p>
      </div>
    </div>
  <% end %>

</div>



