<%= form_with(url: search_articles_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "Search for articles", class: "search-input" %>
  <%= form.submit "Search", class: "search-btn" %>
<% end %>
<% if @article_search == [] %>
  <h2 class = "seach-result">No results</h2>
<% else %>
  <div class = "article-contents">
    <ul class = "article-list">
      <%  @article_search.all.each do |article| %>
        <li class = "list">
          <%= link_to article_path(article.id) do %>
            <h3 class='article-title'><%= article.title %></h3>
            <h6 class='article-title text-limited'><%= article.content.html_safe %></h6>
            <p class = "root-show">Click to see details </p>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
NFL

