<%= render "shared/breadcrumbs" %>
<div class=" w-75 d-flex image-section">
  <div class="col-md-8">
    <% if @article.image.attached? %>
    <%= image_tag @article.image, style:"max-width:800px; display:block" %></div>
    <% else %>
      <%= image_tag 'article_image.jpg', style:"max-width:800px; display:block" %></div>
  <% end %>
  <div class="col-md-4 vcenter-item">
    <div class="image-text-wrapper shadow-lg tab-user-info ">
      <div class="p-3 col text-left ">
        <span class="text-secondary py-3">Published / <%= @article.created_at.strftime("%d.%m.%Y") %></span><br/>
        <span class="text-danger py-3"><%= @article.alt %></span><br/>
        <span class="text-dark"><%= @article.title %></span>
        <br/>
        <br/>
      </div>
      <div>
        <button type="button" class="btn btn-danger btn-danger-not-rounded">More</button>
      </div>
    </div>
  </div>
</div>
<div class="col-md-9 py-3">
  <%= @article.content.html_safe%>
</div>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
