<div class="container-fluid">
  <%= render partial: 'shared/users_cabinet_tabs' %>
  <div class="row">
    <div class="col-md-3 text-center"></div>
    <div class="col-md-3 text-left">
      <div class="form-group">
        <%= form_for @user, url: user_path(@user), action: :update, method: :put do |f| %>
          <div class="form-group">
              <%=  image_tag user_avatar(@user), class:'mx-auto d-block p-2', style:"width:120px; display:block; border-radius: 60px;"%>
            <%= f.file_field :avatar, class: "form-control" %>

          </div>
          <%= f.label t('first_name') , autofocus: true, class: "text-uppercase py-2"%>
          <%= f.text_field :first_name, class: "text-uppercase py-2", class: "form-control" %>
          <%= f.label t('last_name'), class: "text-uppercase py-2" %>
          <%= f.text_field :last_name, autofocus: true, class: "form-control" %>
          <%= f.label t('email'), class: "text-uppercase py-2" %>
          <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email", placeholder: "jonhdoe@gmail.com" %>
          <div class="actions py-3">
            <%= f.submit "UPDATE PROFILE", class: "btn-lg btn-danger " %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>