
<header class="container-fluid">
  <div class="row header-container">
    <div class="logo-container col">
      <%= link_to(root_path) do %>
        <span class="logo-text">Sports Hub</span>

    <% end %>
    </div>
    <div class="search-container col">
      <div class="search-wrapper">
        <%= image_tag("search-icon.jpg" , class:"search-icon" )%>
        <input class="search-input " type="text" placeholder="Search by" >
      </div>
    </div>
    <div class="social-container col">
      <p class="social-text">Share</p>

      <div class="social-icon-wrapper">
        <a href="http://www.facebook.com" target="_blank" rel="nofollow"><%= image_tag("FB.png", class:"social-icon")%></a>
        <a href="http://www.twitter.com" target="_blank" rel="nofollow"><%= image_tag("twitter.png", class:"social-icon")%></a>
        <a href="http://www.google.com" target="_blank" rel="nofollow"><%= image_tag("google.png", class:"social-icon")%></a>

      </div>
    </div>
    <div class="login-container col">
      <div class="row align-items-center">
        <div class="login col-sm-8">
          <% if user_signed_in? %>
            <span>Здравствуйте, <%= current_user.email %></span>
            <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
          <% else %>
            <%= link_to 'Sign in', new_user_registration_path, class: "btn btn-outline-danger"%>
            <%= link_to 'Log in', new_user_session_path, class: "btn btn-outline-danger border border-danger"%>
          <% end %>

          <!--        <div class="dropdown show">-->
          <!--          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
          <!--            Dropdown link-->
          <!--          </a>-->

          <!--          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">-->
          <!--            <a class="dropdown-item" href="#">Action</a>-->
          <!--            <a class="dropdown-item" href="#">Another action</a>-->
          <!--            <a class="dropdown-item" href="#">Something else here</a>-->
          <!--          </div>-->
          <!--        </div>-->
          <!--        <ul>-->
          <!--          <li>Name</li>-->
          <!--          <li>View profile</li>-->
          <!--          <li>Change password</li>-->
          <!--          <li>My surveys</li>-->
          <!--          <li>Team hub</li>-->
          <!--          <li>Log out</li>-->
          <!--        </ul>-->
        </div>
        <div class="lang col-sm-4 ">
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              EN
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
      </div>

      </div>
    </div>
  </div>
</header>