
<div id="repeater" class="d-flex flex-column">
  <!-- Repeater Heading -->

<div class="items" data-group="test">
  <!-- Repeater Content -->
  <div class="item-content">
    <div class="row py-5">
      <div class="col ">
        <%= select_tag "categories", options_from_collection_for_select(@parent_categories, "id", "title"), :remote => true, class: 'form-control load-subcategory' %>
      </div>
      <div class="col">
        <%= select_tag "subcategories-select", options_from_collection_for_select(@sub_categories, "id", "title"), class: 'form-control' %>
      </div>
      <div class="col">
        <%= select_tag "teams", options_from_collection_for_select(@parent_categories, "id", "title"), class: 'form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= select_tag "categories", options_from_collection_for_select(@articles, "id", "title"), class: 'form-control' %>
      </div>
    </div>
  </div>
  <!-- Repeater Remove Btn -->
  <div class="pull-right repeater-remove-btn">
    <button id="remove-btn" class="btn btn-danger" onclick="$(this).parents('.items').remove()">
      Remove
    </button>
  </div>
</div>
  <div class="repeater-heading add-button-repeater">
    <button class="btn btn-primary repeater-add-btn">
      Add
    </button>
  </div>
</div>





<div class="col-md-9 py-3">
  <div class="row">
    <div class="on-hover-shadow col d-flex flex-column border-0 my-3">
      <%= image_tag("article_image.jpg", { style: "min-width: 180px; height: 130px;", class: "card-img-right flex-auto d-none d-md-block p-1" }) %>
      <div>
        <span class="py-2 font-weight-bold clickable-block">
          <%= link_to 'Raiders release', root_path, class: "d-inline-block mb-2 clickable-block" %>
        </span>
        <span class="card-text mb-auto text-muted">
          After a five-year stint with the Oakland Raiders
        </span>
      </div>
    </div>
    <div class="on-hover-shadow col d-flex flex-column border-0 my-3">
      <%= image_tag("article_image.jpg", { style: "min-width: 180px; height: 130px;", class: "card-img-right flex-auto d-none d-md-block p-1" }) %>
      <div>
        <span class="py-2 font-weight-bold clickable-block">
          <%= link_to 'Raiders release', root_path, class: "d-inline-block mb-2 clickable-block" %>
        </span>
        <span class="card-text mb-auto text-muted">
          After a five-year stint with the Oakland Raiders
        </span>
      </div>
    </div>
    <div class="on-hover-shadow col d-flex flex-column border-0 my-3">
      <%= image_tag("article_image.jpg", { style: "min-width: 180px; height: 130px;", class: "card-img-right flex-auto d-none d-md-block p-1" }) %>
      <div>
        <span class="py-2 font-weight-bold clickable-block">
          <%= link_to 'Raiders release', root_path, class: "d-inline-block mb-2 clickable-block" %>
        </span>
        <span class="card-text mb-auto text-muted">
          After a five-year stint with the Oakland Raiders
        </span>
      </div>
    </div>
    <div class="on-hover-shadow col d-flex flex-column border-0 my-3">
      <%= image_tag("article_image.jpg", { style: "min-width: 180px; height: 130px;", class: "card-img-right flex-auto d-none d-md-block p-1" }) %>
      <div>
        <span class="py-2 font-weight-bold clickable-block">
          <%= link_to 'Raiders release', root_path, class: "d-inline-block mb-2 clickable-block" %>
        </span>
        <span class="card-text mb-auto text-muted">
          After a five-year stint with the Oakland Raiders
        </span>
      </div>
    </div>
  </div>
  <div class="row border-top my-5">
    <div class="breakdown border text-center"><p class="text-uppercase">breakdown</p></div>
    <div class="row breackdown-element my-3">
      <div class="col-md-6">
        <div class="on-hover-shadow d-flex flex-column border rounded-0" style="max-height:300px">
          <%= image_tag("article_image.jpg", { style: "min-width: 390px; height: 200px;", class: "card-img-right flex-auto d-none d-md-block p-1" }) %>
          <div>
        <span class="p-3 font-weight-bold clickable-block">
          <%= link_to 'Lorem ipsum dolor sit amet, consectetur', root_path, class: "d-inline-block mb-2 clickable-block image-text__caption" %>
        </span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="on-hover-shadow card flex-md-row border rounded-0">
          <%= image_tag("article_image.jpg", { style: "min-width: 150px; height: 98px;", class: "card-img-right flex-auto d-none d-md-block p-1" }) %>
          <div class="card-body d-flex flex-column align-items-start">
            <h3 class="mb-0"><%= link_to 'Lorem ipsum', root_path, class: "d-inline-block mb-2 clickable-block" %></h3>
            <p class="card-text mb-auto text-limited">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
              aliquid assumenda cumque enim eos ex, excepturi laudantium magnam nobis nostrum quas quia quisquam ratione
              recusandae reiciendis repudiandae rerum sed. Dolore?</p>
          </div>
        </div>
        <div class="on-hover-shadow card flex-md-row border rounded-0">
          <%= image_tag("article_image.jpg", { style: "min-width: 150px; height: 98px;", class: "card-img-right flex-auto d-none d-md-block p-1" }) %>
          <div class="card-body d-flex flex-column align-items-start">
            <h3 class="mb-0"><%= link_to 'Lorem ipsum', root_path, class: "d-inline-block mb-2 clickable-block" %></h3>
            <p class="card-text mb-auto text-limited">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
              aliquid assumenda cumque enim eos ex, excepturi laudantium magnam nobis nostrum quas quia quisquam ratione
              recusandae reiciendis repudiandae rerum sed. Dolore?</p>
          </div>
        </div>
        <div class="on-hover-shadow card flex-md-row border rounded-0">
          <%= image_tag("article_image.jpg", { style: "min-width: 150px; height: 98px;", class: "card-img-right flex-auto d-none d-md-block p-1" }) %>
          <div class="card-body d-flex flex-column align-items-start">
            <h3 class="mb-0"><%= link_to 'Lorem ipsum', root_path, class: "d-inline-block mb-2 clickable-block" %></h3>
            <p class="card-text mb-auto text-limited">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
              aliquid assumenda cumque enim eos ex, excepturi laudantium magnam nobis nostrum quas quia quisquam ratione
              recusandae reiciendis repudiandae rerum sed. Dolore?</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row breackdown-element my-3">
      <div class="col-md-6">
        <div class="on-hover-shadow d-flex flex-column border rounded-0" style="max-height:300px">
          <%= image_tag("article_image.jpg", { style: "min-width: 390px; height: 200px;", class: "card-img-right flex-auto d-none d-md-block p-1" }) %>
          <div>
        <span class="p-3 font-weight-bold clickable-block">
          <%= link_to 'Lorem ipsum dolor sit amet, consectetur', root_path, class: "d-inline-block mb-2 clickable-block image-text__caption" %>
        </span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="on-hover-shadow card flex-md-row border rounded-0">
          <%= image_tag("article_image.jpg", { style: "min-width: 150px; height: 98px;", class: "card-img-right flex-auto d-none d-md-block p-1" }) %>
          <div class="card-body d-flex flex-column align-items-start">
            <h3 class="mb-0"><%= link_to 'Lorem ipsum', root_path, class: "d-inline-block mb-2 clickable-block" %></h3>
            <p class="card-text mb-auto text-limited">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
              aliquid assumenda cumque enim eos ex, excepturi laudantium magnam nobis nostrum quas quia quisquam ratione
              recusandae reiciendis repudiandae rerum sed. Dolore?</p>
          </div>
        </div>
        <div class="on-hover-shadow card flex-md-row border rounded-0">
          <%= image_tag("article_image.jpg", { style: "min-width: 150px; height: 98px;", class: "card-img-right flex-auto d-none d-md-block p-1" }) %>
          <div class="card-body d-flex flex-column align-items-start">
            <h3 class="mb-0"><%= link_to 'Lorem ipsum', root_path, class: "d-inline-block mb-2 clickable-block" %></h3>
            <p class="card-text mb-auto text-limited">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
              aliquid assumenda cumque enim eos ex, excepturi laudantium magnam nobis nostrum quas quia quisquam ratione
              recusandae reiciendis repudiandae rerum sed. Dolore?</p>
          </div>
        </div>
        <div class="on-hover-shadow card flex-md-row border rounded-0">
          <%= image_tag("article_image.jpg", { style: "min-width: 150px; height: 98px;", class: "card-img-right flex-auto d-none d-md-block p-1" }) %>
          <div class="card-body d-flex flex-column align-items-start">
            <h3 class="mb-0"><%= link_to 'Lorem ipsum', root_path, class: "d-inline-block mb-2 clickable-block" %></h3>
            <p class="card-text mb-auto text-limited">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
              aliquid assumenda cumque enim eos ex, excepturi laudantium magnam nobis nostrum quas quia quisquam ratione
              recusandae reiciendis repudiandae rerum sed. Dolore?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container border-top">
    <div class="breakdown border text-center"><p class="text-uppercase">Photo of the day</p></div>
    <div class="row">
      <div class="triangle-right">
      </div>
      <div class="triangle-text-wrapper">
        <p class="triangle-text__bold">Photo</p>
        <p class="triangle-text__normal">of the</p>
        <p class="triangle-text__bold">day</p>
      </div>
      <%= image_tag "article_image.jpg", class: 'photo-of-the-day' %>
    </div>
  </div>
  <div class="row breackdown-element my-3">
    <div class="col-md-6">
      <p class="text-uppercase most-article">Most popular</p>
      <div class="on-hover-shadow card flex-md-row border rounded-0">
        <%= image_tag("article_image.jpg", { style: "min-width: 150px; height: 98px;", class: "card-img-right flex-auto d-none d-md-block p-1" }) %>
        <div class="card-body d-flex flex-column align-items-start">
          <h3 class="mb-0"><%= link_to 'Lorem ipsum', root_path, class: "d-inline-block mb-2 clickable-block" %></h3>
          <p class="card-text mb-auto text-limited">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
            aliquid assumenda cumque enim eos ex, excepturi laudantium magnam nobis nostrum quas quia quisquam ratione
            recusandae reiciendis repudiandae rerum sed. Dolore?</p>
        </div>
      </div>
      <div class="on-hover-shadow card flex-md-row border rounded-0">
        <%= image_tag("article_image.jpg", { style: "min-width: 150px; height: 98px;", class: "card-img-right flex-auto d-none d-md-block p-1" }) %>
        <div class="card-body d-flex flex-column align-items-start">
          <h3 class="mb-0"><%= link_to 'Lorem ipsum', root_path, class: "d-inline-block mb-2 clickable-block" %></h3>
          <p class="card-text mb-auto text-limited">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
            aliquid assumenda cumque enim eos ex, excepturi laudantium magnam nobis nostrum quas quia quisquam ratione
            recusandae reiciendis repudiandae rerum sed. Dolore?</p>
        </div>
      </div>
      <div class="on-hover-shadow card flex-md-row border rounded-0">
        <%= image_tag("article_image.jpg", { style: "min-width: 150px; height: 98px;", class: "card-img-right flex-auto d-none d-md-block p-1" }) %>
        <div class="card-body d-flex flex-column align-items-start">
          <h3 class="mb-0"><%= link_to 'Lorem ipsum', root_path, class: "d-inline-block mb-2 clickable-block" %></h3>
          <p class="card-text mb-auto text-limited">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
            aliquid assumenda cumque enim eos ex, excepturi laudantium magnam nobis nostrum quas quia quisquam ratione
            recusandae reiciendis repudiandae rerum sed. Dolore?</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <p class="text-uppercase most-article">Most Commented</p>
      <div class="on-hover-shadow card flex-md-row border rounded-0">
        <%= image_tag("article_image.jpg", { style: "min-width: 150px; height: 98px;", class: "card-img-right flex-auto d-none d-md-block p-1" }) %>
        <div class="card-body d-flex flex-column align-items-start">
          <h3 class="mb-0"><%= link_to 'Lorem ipsum', root_path, class: "d-inline-block mb-2 clickable-block" %></h3>
          <p class="card-text mb-auto text-limited">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
            aliquid assumenda cumque enim eos ex, excepturi laudantium magnam nobis nostrum quas quia quisquam ratione
            recusandae reiciendis repudiandae rerum sed. Dolore?</p>
        </div>
      </div>
      <div class="on-hover-shadow card flex-md-row border rounded-0">
        <%= image_tag("article_image.jpg", { style: "min-width: 150px; height: 98px;", class: "card-img-right flex-auto d-none d-md-block p-1" }) %>
        <div class="card-body d-flex flex-column align-items-start">
          <h3 class="mb-0"><%= link_to 'Lorem ipsum', root_path, class: "d-inline-block mb-2 clickable-block" %></h3>
          <p class="card-text mb-auto text-limited">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
            aliquid assumenda cumque enim eos ex, excepturi laudantium magnam nobis nostrum quas quia quisquam ratione
            recusandae reiciendis repudiandae rerum sed. Dolore?</p>
        </div>
      </div>
      <div class="on-hover-shadow card flex-md-row border rounded-0">
        <%= image_tag("article_image.jpg", { style: "min-width: 150px; height: 98px;", class: "card-img-right flex-auto d-none d-md-block p-1" }) %>
        <div class="card-body d-flex flex-column align-items-start">
          <h3 class="mb-0"><%= link_to 'Lorem ipsum', root_path, class: "d-inline-block mb-2 clickable-block" %></h3>
          <p class="card-text mb-auto text-limited">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
            aliquid assumenda cumque enim eos ex, excepturi laudantium magnam nobis nostrum quas quia quisquam ratione
            recusandae reiciendis repudiandae rerum sed. Dolore?</p>
        </div>
      </div>
    </div>
  </div>
</div>

