<%= form_with(model: category) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :parent_id %>
    <%= form.number_field :parent_id %>
  </div>

  <div class="field">
    <%= form.label :team_id %>
    <%= form.number_field :team_id %>
  </div>

  <div class="field">
    <%= form.label :location_id %>
    <%= form.number_field :location_id %>
  </div>

  <div class="field">
    <%= form.label :alt_text %>
    <%= form.text_field :alt_text %>
  </div>

  <div class="field">
    <%= form.label :headline_text %>
    <%= form.text_field :headline_text %>
  </div>

  <div class="field">
    <%= form.label :caption_text %>
    <%= form.text_field :caption_text %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.check_box :comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
