<p id="notice"><%= notice %></p>

<p>
  <% if (@category.parent_id) %>
    <strong>Parent category:</strong>
    <strong><%= Category.find_by(id: @category.parent_id).title %></strong>
  <% end %>
  ID: <%= @category.parent_id %>
</p>

<p>
  <strong>Team:</strong>
  <%= @category.team_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @category.location_id %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @category.comment %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
